@font-face {
  font-family: 'Noto Sans Lao';
  src:
    url('@/assets/fonts/NotoSansLao-Regular.woff') format('woff'),
    url('@/assets/fonts/NotoSansLao-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans Lao';
  src:
    url('@/assets/fonts/NotoSansLao-Medium.woff') format('woff'),
    url('@/assets/fonts/NotoSansLao-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans Lao';
  src:
    url('@/assets/fonts/NotoSansLao-SemiBold.woff') format('woff'),
    url('@/assets/fonts/NotoSansLao-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans Lao';
  src:
    url('@/assets/fonts/NotoSansLao-Bold.woff') format('woff'),
    url('@/assets/fonts/NotoSansLao-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src:
    url('@/assets/fonts/Poppins-Regular.woff') format('woff'),
    url('@/assets/fonts/Poppins-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src:
    url('@/assets/fonts/NotoSansLao-Medium.woff') format('woff'),
    url('@/assets/fonts/NotoSansLao-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src:
    url('@/assets/fonts/Poppins-SemiBold.woff') format('woff'),
    url('@/assets/fonts/Poppins-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src:
    url('@/assets/fonts/Poppins-Bold.woff') format('woff'),
    url('@/assets/fonts/Poppins-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
